<table>
    <tr>
        <th>Customer Number</th>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Credit Limit</th>
        <th>SalesRep</th>
    </tr>
    {{#each customerList}}
        <tr>
            <td align="center"><a href="{{baseUrl}}/customers/{{customerNumber}}">{{customerNumber}}</a></td>
            <td align="center">{{customerName}}</td>
            <td align="center">{{city}}</td>
            <td align="center">{{country}}</td>
            <td align="center">{{creditLimit}}</td>
            <td align="center">{{salesRepEmployeeNumber}}</td>
        </tr>
    {{/each}}
</table>
<table>
    <tr>
        {{#if prevPage}}
        <td><a href="{{prevPage}}">Previous Page</a></td>
        {{/if}}
        <td>Current Page: {{currentPage}}</td>
        {{#if nextPage}}
        <td><a href="{{nextPage}}">Next Page</a></td>
        {{/if}}
    </tr>
</table>