<form method="post" action="/customers" enctype="text/plain">
    Customer Number: {{customer.customerNumber}}<br>
    Customer Name: <input type="text" id="customerName" path="customerName" value="{{customer.customerName}}"></input><br>
    Customer Contact Last Name: <input type="text" id="contactLastName" path="contactLastName" value="{{customer.contactLastName}}"></input><br>
    Customer Contact: <b>{{customer.contactLastName}}, {{customer.contactFirstName}}</b><br>
    City, State Postal (Country): <b>{{customer.city}}, {{customer.state}} {{customer.postalCode}} ({{customer.country}})</b><br>
    <input type="submit">
</form>
<a href="/orders/customerNumber/{{customer.customerNumber}}">Orders List</a>
<a href="./">Back</a>
